<div class="list-collections">
    <h1>Active collections:</h1>
    <div class="collections-actions">
        <button id="new-collection">New</button>
        <button id="refresh-collections">Refresh</button>
    </div>
    <ul class="collections">
        <!-- <li class="collection" >
            <div class="collection-id">option1</div>
            <div class="collection-btns"> 
                <button>details</button>
                <button>select</button> 
            </div>
        </li>   -->
    </ul>
    <!-- <h2> No collections found </h2> -->
</div>   