:root{
    --header-hover:aqua;
    --sidebar-hover:rgba(163, 172, 163, 0.4);
    --sidebar-child-hover:#e7e7e7e7;
}

html {
    font-size: 16px;
    font: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #262626;
    color: white;
}

.header-nav{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px ;
}

.header-nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 60px;
}

#logo {
    font-size: 2.5rem;
}
header a:hover {
    color: var(--header-hover);
}

/* Sidebar nav  */
.navbar{
    position: fixed;
    width: 15rem;
    /* margin-top: 4.4rem; */
    background-color: white;
    min-height: 100vh;
    border-style: solid;
    border-width: 1px;
    border-top: none;
}

.navbar a {
    color: black;
    display: block;
    /* background: #fff; */
    padding: 1em;
 }

.navbar a:hover {
    background-color: var(--sidebar-hover);
}

.active {
    background-color: var(--sidebar-hover);
}


.navbar-nav {
    margin: 0;
    padding: 0;
}

.nav-sub-menu a{
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

.nav-sub-menu a{
    font-size:0.9em ;
    color: #666666;
    padding: 0.75em;
    border-left: 1.5em solid rgb(255, 253, 253);
    background: linear-gradient(to right, #ddd 2px, #fff 2px);
}

.nav-sub-menu a:hover{
    background: linear-gradient(to right, #ddd 2px, #efefef 2px);
}

.nav-sub-menu{
    padding: 0;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
}

.navbar li:hover {
    background-color: var(--sidebar-child-hover);
}

 main {
    margin-left: 15rem;
    padding: 1rem;
    margin-top: 4.4rem;
 }

 /* collections */

 .list-collections h1{
    text-align: center;
}

.collections-actions{
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    justify-content: end;
}
 
.collections-actions button{
    margin-left: 5px;
    height: 35px;
    width: 55px;
} 


.collections {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}

.collection{
    display: grid;
    grid-template-columns: 2fr 1fr;      
    margin: 10px;
    padding: 6px;
    border-width: 1px;
    border-style: ridge;
    break-after: auto;
    /* overflow-wrap: break-word; */
}

.collection-btns{
    justify-self: end;
}

.collection-btns button{
    height: 50px;
}
.collection-id {
    align-self: center;
    word-break: break-all;
}

.collection:hover{
    background-color: #9d9a9a;
}
