<h1>Paste the paths for the files</h1>
<form method="post">
<input type="text" name="ids" placeholder="IDs Path here">
<div>
<input type="text" name="files" placeholder="Files Path here">
<div>
<input type="text" name="collection" placeholder="CollectionID here">
<div>
<input type="submit" value=" submit">
<div>
<a href=/> back to menu  </a>