<h1>Delete a AWS collection</h1>
<form method="post">
<input type="text" name="collection" placeholder="CollectionID here">
<div>
<input type="submit" value=" submit">
<div>
<a href=/> back to the menu  </a>
<div>
<a href=/list-collections> see collections </a>
<div>
{{if .}}
<h2>successfully deleted collection: {{.}}</h2>
{{end}}
