<h1>Delete AWS Rekognition collection</h1>
<form method="post">
<input type="text" name="collection" placeholder="CollectionID here">
<div>
<input type="submit" value="delete">
<div>
<br>
{{if .}}
<h2>successfully deleted collection: {{.}}</h2>
{{end}}
<br>
<a href=/list-collections> see collections  </a>
<div>
<a href=/create-collection> create collection  </a>
<div>
<br>
<a href=/> menu  </a>
<div>
