{{ template "head.html" }}
<body>
{{ template "nav.html" }}
    <main>
        <div class="container">
            <h1>Upload images</h1>
            <p> Paste the path to the images folder below and the collection ID that you want to use. </p> 
            <form method="post">
            <input type="text" name="files" placeholder="Path to the Images folder " style="height:25px; width:550px" >
            <div>
            <input type="text" name="collection" placeholder="Collection ID ">
            <div>
            <input type="submit" value="upload">
            <div>
            <br>
            <a href="/">  menu  </a>
        </div>
    </main>
</body>