<h1>Goknition menu</h1>
<div>
<a href=/create-collection> create collection </a>
<div>
<a href=/list-collections> see collections </a>
<div>
<a href=/data> upload files  </a>
<div>
<a href=/query> make a query </a>
<div>
<a href=/no-match> see images without matches </a>
<div>