<h1>List of active collections</h1>
<div>

{{if .}}
{{range .}}
{{print .}}
{{end}}
{{else}}
<h2> No collections found </h2>
{{end}}
<br>
<br>
<a href=/create-collection> create collection  </a>
<div>
<a href=/delete-collection> delete collection  </a>
<div>
<br>
<a href=/> menu  </a>