<h1>Pictures without a matching face</h1>
<div>
<a href=/query> make a query </a>
<div>
<br>
<a href=/> menu  </a>
<div>
{{if .}}
{{range .}}
<h2>{{.Path}}\{{.FileName}}.JPG</h2>
{{end}}
{{else}}
<h2>No images found</h2>
{{end}}
