<h1>Query for a specific face</h1>
<form method="post">
<input type="text" name="q" placeholder="Query here">
<input type="submit" value="submit">
<div>
<a href=/no-match> see the pictures without a matching face </a>
<div>
<div>
<a href=/> back to menu  </a>
{{if .}}
{{range .}}
<h2>{{.Path}}\{{.FileName}}.JPG</h2>
{{end}}
{{else}}
<h2>No pictures found</h2>
{{end}}

    