{{ template "head.html" }}
<body>
{{ template "nav.html" }}
    <main>
        <div class="container">
            <h1>Save matches</h1>
            <p> Saves all the matches to the given path </p>
            <form method="post">
            <input type="text" name="path" placeholder="Path to copy folder" style="height:25px; width:550px"><br>
            <input type="text" name="collection" placeholder="Collection IDs">
            <input type="submit" value="save">
            <br>
            <a href="/"> menu  </a>
            <br>
            {{if .}}
            <h2>matches saved at: {{.}}</h2>
            {{end}}
        </div>
    </main>
</body>